@model Category
<div class="container">
    <form method="post">
        <div class="row">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" /> <!-- type="..." is not required with asp-for -->
            <span asp-validation-for="Name"></span>
        </div>
        <div class="row">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">
                    Create
                </button>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-secondary" asp-area="Admin" asp-controller="Category" asp-action="Index">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}